.body {
    background-color: #1C1C1C;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
}

.spacer {
    flex-grow: 1;
}

.header-links {
    text-align: right;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.header-link {
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Poppins-Semibold', sans-serif;
}

.banner {
    height: 100%;
    background-image: url(../imgs/banner-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px 0px 300px 0px;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h1 {
    color: white;
    text-shadow: 2px 2px 4px #6e6e6e;
    font-weight: bold;
    font-size: 3.5em;
    font-family: 'Poppins-Semibold', sans-serif;
}

.banner-button {
    padding: 18px;
    background-color: #33B6FF;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.banner-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    font-family: 'Poppins-Semibold', sans-serif;
}

.content {
    background-color: white;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Poppins-Semibold', sans-serif;
    text-align: left;
    padding-bottom: 75px;
}

.content p {
    font-size: 1.2em;
    width: 850px
}

.content-header {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.content h2 {
    font-weight: 800;
}

.content img {
    border-radius: 10px;
    width: 25%;
}

.content-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
}

.text-content {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.footer-block {
    display: inline-block;
    margin: 20px 50px;
    text-align: left;
}

.footer-block h2 {
    color: white;
    font-weight: bold;
    font-size: 1.75em;
    font-family: 'Poppins-Semibold', sans-serif;
    letter-spacing: 0.5px;
}

.footer-block h3 {
    color: white;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Poppins-Semibold', sans-serif;
    letter-spacing: 0.3px;
    font-weight: 500;
}

.contact-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 1.3em;
    font-family: 'Poppins-Semibold', sans-serif;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 1.3em;
    font-family: 'Poppins-Semibold', sans-serif;
}

.contact-form button[type="submit"] {
    background-color: #33B6FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
}

.contact-form button[type="submit"]:hover {
    background-color: #1d7fb4;
}
